*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
    body{
        height: 100vh;
        display: grid;
        grid-template-rows: 100px 1fr 100px;
        padding: 70px 70px 24px 70px;
        font-family: 'Righteous', cursive;
        color: black;
        background-color: gray;
        background-image: url(jordan2.jfif);
        background-position-x: center 
    }

.logo__icon{
   margin-top: 10px;
    top: 15%;
    left: 1%;
    width: 40px;
    color: white;


}
   
  
    .instagram{
        padding-bottom: 15px;
    }

    .facebook{
    padding-bottom: 15px;
    }

    .youtube{
        padding-bottom: 15px;
    }

    .twitter{




    }

    .redes{
        position: absolute; right: 30px;
        display: flex;
        flex-direction: column;

    }



    .info__text{
        position: absolute; right: 30px; top: 20px;
        color: white;
    }
   
    .logo{

    color: white;


    }
    

    .nikee{
       margin-left: -50px;
       margin-top: -420px;
       width: 80px;

    }

    .videojordan{
        margin-left: -60px;
        margin-top: 30px;
        width: 10px;
        display: flex;
        height: 100px;
    }
    .videojordan2{
        margin-left: -60px;
        margin-top: 30px;
        width: 10px;
        display: flex;
        height: 100px; 

    }
    .videojordan3{

        margin-left: -60px;
        margin-top: 30px;
        width: 10px;
        display: flex;
        height: 100px; 


    }

    .jordan23{
        margin-left: 500px;
        margin-top: -570px;
        width: 10px;
        display: flex;
        height: 100px;
    }

    footer{
        text-align: center;
        color: white;

    }
